apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: pets
  name: pets
  namespace: default
spec:  
  replicas: 6  
  selector:
    matchLabels:
      app: pets
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:     
      labels:
        app: pets
    spec:
      containers:
      - image: gcr.io/triggering-a-198-9f5f2f49/pets-image:v1
        name: pets-image
---
apiVersion: v1
kind: Service
metadata:
  name: pet-lb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: pets
