apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: teamcitydata
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "premium-rwo"
  resources:
    requests:
      storage: 100Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: teamcity-deployment
spec:
  matchLabels:
    app: teamcity
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: teamcity
    spec:
      containers:
        - name: teamcity
          image: jetbrains/teamcity-server:2022.10-linux
          volumeMounts:
            - mountPath: "/data/teamcity_server/datadir"
              name: teamcitydata
            - mountPath: "/opt/teamcity/logs"
              name: teamcitydata
      volumes:
        - name: teamcitydata
          persistentVolumeClaim:
            claimName: teamcitydataclaim
---
apiVersion: v1
kind: Service
metadata:
  name: teamcity
  labels:
    app: teamcity
spec:
  selector:
    app: teamcity
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8111
